#head1 {
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    margin-left: 40%;
}

#home {
    color: black;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}

.card-title {
    display: flex;
    text-align: center;
    justify-content:center;
    position:sticky;
}

.price {
    display: flex;
    text-align: center;
    justify-content:center;
    position:sticky;
}

.card-link {
    display: flex;
    text-align: center;
    justify-content:center;
    position:sticky;
}