{% extends 'pages/layout.html' %} {% block content %}

<h2 style="display: flex; justify-content: center">All Categories</h2>

{% for category in categories %}
<div class="card bg-dark text-white">
  <img
    class="card-img"
    src="{{ category.img }}"
    height="700px"
    alt="Card image"
  />
  <div class="card-img-overlay">
    <h5 class="card-title">{{ category.name }}</h5>
    <a href="/category/{{ category.id }}" class="card-link"
      >See {{ category.name }} products</a
    >
  </div>
</div>
{% endfor %} {% endblock content %}
