{% extends 'pages/layout.html' %} {% block content %}

<h2 style="display: flex; justify-content: center">All Categories</h2>

{% for category in categories %}
<div class="card bg-dark text-white">
  {% for product in products%} {% if product.category == category %}
  <img
    class="card-img"
    src="{{ product.img }}"
    height="700px"
    alt="Card image"
  />
  <div class="card-img-overlay">
    <h5 class="card-title">{{ category }}</h5>
    <a href="/category/{{ category }}" class="card-link"
      >See {{ category }} products</a
    >
  </div>
  {% endif %} {% endfor %}
</div>
{% endfor %} {% endblock content %}
