{% extends 'pages/layout.html' %}

{% block content %}
    <body>
        <h1>Shop and Go</h1>
        <form action='search/' method="get">
            <input name="product_name" type="text" placeholder="Product name">
          </form>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div><a href = '/category/'>Category page </a></div>      
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div><a href = '/shopping-cart/'>Shopping Cart page </a></div>          
            </div>
        </div>
    </body>
{% endblock content %}