{% extends 'pages/index.html' %}

{% block content %}
<h2> Product info </h2>
<div class="card-group">
    <div class="card">
        <img src="{{product.img}}" height = "400px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Product Name: {{product.name}}</h5>
            <p class="price">Product Cost: {{product.cost}}</p>
        </div>
        <div class="card-body">
            <a href="/shopping-cart/{{product.id}}" class="card-link">Add to cart</a>
        </div>
    </div>
</div>
{% endblock content %}