{% extends 'pages/layout.html' %} {% block content %}
<div>
  <h2 style="display: flex; justify-content: center">
    All products in {{ category.name }} category
  </h2>
  <div class="card-group">
    {% for product in products %}
    <div class="card">
      <img
        class="card-img-top"
        src="{{ product.img }}"
        height="350px"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title" style="display: flex; justify-content: center">
          {{ product.name }}
        </h5>
      </div>
      <a
        href="/product/{{ product.name }}"
        class="card-link"
        style="display: flex; justify-content: center"
        >For Product details</a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
