{% extends 'pages/layout.html' %} {% block content %}
<h2 style="display: flex; justify-content: center">Your shopping cart</h2>

{% for shopping in shoppings %}

<div class="card" style="display: flex; justify-content: center">
  <div class="card-body" style="display: flex; justify-content: center">
    <p class="price">
      {{shopping.product.name}}: {{shopping.quantity}} -
      ${{shopping.product.cost}}
    </p>
  </div>
</div>

{% endfor %}
<p class="total_price" style="display: flex; justify-content: center">
  TOTAL: ${{total}}
</p>
{% endblock content %}
